[submodule "src/dots_gazebo"]
	path = src/dots_gazebo
	url = git@bitbucket.org:hauertlab/dots_gazebo.git
[submodule "src/dots_nav"]
	path = src/dots_nav
	url = git@bitbucket.org:hauertlab/dots_nav.git
